# Intro to pandas

<hr style="clear:both">

This notebook is part of a series of exercises for the CIVIL-226 Introduction to Machine Learning for Engineers course at EPFL. Copyright (c) 2021 [VITA](https://www.epfl.ch/labs/vita/) lab at EPFL  
Use of this source code is governed by an MIT-style license that can be found in the LICENSE file or at https://www.opensource.org/licenses/MIT

**Author(s):** [David Mizrahi](mailto:david.mizrahi@epfl.ch)
<hr style="clear:both">

[pandas](https://pandas.pydata.org/) is a fast, powerful and flexible package for data manipulation and analysis in Python, built on top of NumPy.

It provides:
- a fast and efficient DataFrame object for data manipulation, with integrated indexing
- tools for reading and writing data between in-memory data and various file formats 
- easy handling of missing data
- easy conversion to and from NumPy arrays 
- [and much more](https://pandas.pydata.org/about/index.html)

Pandas has quickly become a fundamental package for data science in Python. In this tutorial, we'll cover the basics of this package and show how it can be used to handle real-world data for ML applications.

In addition, we'll also briefly cover the seaborn package, which we'll use to generate informative plots from pandas data.


<img src="images/stack_overflow_traffic.png" width=500></img>

Source: https://stackoverflow.blog/2017/09/14/python-growing-quickly/

**Note:** Unlike previous tutorials, there is no code to write here. Just read through it and run the cells. For a more hands-on tutorial, we recommend the [pandas course on Kaggle](https://www.kaggle.com/learn/pandas).

In [ ]:
import numpy as np
import pandas as pd

## 1. Basics

A **DataFrame** is the primary data structure in Pandas. It is a data table composed of rows and columns.

You can also refer to the 2 dimensions of a DataFrame as axes, with axis 0 corresponding to the row index, and axis 1 to the column index.

Each column of a DataFrame can be of a different type such as integers, floats, booleans, datetime or even `object`, which can hold any Python object 

<img src="images/dataframe.png" width=400></img>

In this part, we'll cover basic pandas operations.

### Creating a DataFrame

In [ ]:
data = np.array([[21, 184], [19, 168], [36, 178], [34, 175], [63, 159], [25, 165]])
# df is an abbrevation of DataFrame
df = pd.DataFrame(data=data, columns=["age", "height (cm)"])

# Show DataFrame
df

### Accessing specific columns

Accessing a single object returns a [Series](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html), which is a one-dimensional ndarray with axis labels.

In [ ]:
# Accessing only the age column (as a pd.Series object)
df["age"]

### Adding columns

In [ ]:
df["sex"] = ["M", "F", "M", "F", "F", "M"]
df["height (m)"] = df["height (cm)"] / 100

# Show updated DataFrame
df

### Removing columns

In [ ]:
df = df.drop(columns="height (m)")
df

By default, operations in pandas are not in-place (i.e. they return a copy, and don't modify the original object). This can be changed by adding `inplace=False` as a parameter.

### Adding rows

In [ ]:
# df = df.append({"age": 29, "height (cm)": 172, "sex": "F"}, ignore_index=True) # This will raise an error

new_row = {"age": 29, "height (cm)": 172, "sex": "F"}
df = pd.concat([df, pd.DataFrame(new_row, index=[0])], ignore_index=True)
df

### Boolean indexing / slicing

More info: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html

In [ ]:
# In the df DataFrame, show me only the rows in which the "sex" column is "F"
df[df["sex"] == "F"]

In [ ]:
# In the df DataFrame, show me only the rows in which the "sex" column is "M" AND (&) the "age" is below 30
df[(df["sex"] == "M") & (df["age"] < 30)]

In [ ]:
# In the df DataFrame, show me only the rows in which the "sex" column is "F" OR (|) in which (the "sex" column is "M" AND (&) the age is below 30)
df[(df["sex"] == "F") | ((df["sex"] == "M") & (df["age"] < 30))]

### Sorting

In [ ]:
# Sort values by age in ascending order
df.sort_values(by="age")

In [ ]:
# Sort values first by sex, then by age in descending order
df.sort_values(by=["sex", "age"], ascending=False)

###  Grouping

More info: https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html

In [ ]:
df.groupby("sex")["height (cm)"].mean()

## 2. I/O

Pandas supports reading from and writing to many data formats, such as CSV, JSON, Pickle, Excel, and more.

### Writing

Here's how to write our current DataFrame `df` to a file.

Here are some of the formats you can write to:
- `.to_csv`
- `.to_json`
- `.to_excel`
- `.to_pickle`
- `.to_clipboard`
- `.to_markdown`
- `.to_latex` (very useful for papers / reports)

In [ ]:
# index=False means we don't want to add our index to the CSV file
df.to_csv("demo_df.csv", index=False)

### Reading

Now, we'll load a real-world dataset which contains data for 891 of the Titanic's passengers.

In [ ]:
titanic = pd.read_csv("data/titanic.csv")

Here are some of the formats you can read from:
- `pd.read_csv`
- `pd.read_json`
- `pd.read_excel`
- `pd.read_pickle`
- `pd.read_clipboard`

More info about I/O in pandas: https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html

## 3. Exploratory data analysis

Let's suppose we want to use our  dataset to create a model that predicts which passengers survived the Titanic shipwreck. 

<img src="images/titanic.jpg" width=400></img>

What do we know about the Titanic? It's a boat. It hit an iceberg. It sank. This is definitely not enough information to build a solid classifier.


This is where exploratory data analysis comes into play. It helps us understand how our data looks like, and how it can be processed and manipulated into something meaningful.

### Preview

When dataframes are large, it's not feasible to view the entirety of rows. The `head()`, `tail()` and `sample()` functions can be used to glance at a few of the rows of the datasets and better understand how the data looks like.

- `.head(n)` returns the first n rows
- `.tail(n)` returns the last n rows
- `.sample(n)` returns a random sample of the rows (can also be `.sample(frac=m)` to return a fraction of the total number of rows)

In [ ]:
titanic.head(5)

In [ ]:
titanic.tail(5)

In [ ]:
titanic.sample(5)

### Shape and column information

`shape` works just like it does in NumPy. Here, the first value is the number of rows and the second is the number of columns.

In [ ]:
titanic.shape

`info()` prints a concise summary of the DataFrame. It gives, for each column, its type and the number of columns that are non-null (not `NaN`). It also provides the memory usage of the DataFrame.

In [ ]:
titanic.info()

### Descriptive statistics

`describe()` generates descriptive statistics, such as the mean, standard deviation, mean, max and quartiles.

By default, it only analyzes the numeric columns of a DataFrame, but this can be changed by adding `include="all"` as a parameter.

In [ ]:
titanic.describe()

In [ ]:
titanic.describe(include="all")

### Unique values

Some of these columns can be a bit obscure, using `.unique()` can shed some light about which values are contained in these columns.

In [ ]:
titanic["who"].unique()

In [ ]:
titanic["embarked"].unique()

In [ ]:
titanic["embark_town"].unique()

In [ ]:
titanic["alive"].unique()

In [ ]:
titanic["deck"].unique()

### Redundant information

Looking at this data, it seems like "survived" and "alive" are quite similar, but are written in a different way. Let's see if that's the case.

In [ ]:
titanic[(titanic["survived"] == 1) & (titanic["alive"] == "yes")]

In [ ]:
titanic[(titanic["survived"] == 1) & (titanic["alive"] == "no")]

Using `.all()`, we can check if these two columns actually encode the same information.

In [ ]:
((titanic["alive"] == "yes") == (titanic["survived"] == 1)).all()

In [ ]:
((titanic["alive"] == "no") == (titanic["survived"] == 0)).all()

This also applies for the columns "embarked" and "embark_town", as well as "pclass" and "class", so we'll only keep one of each. In addition, the "adult_male" column can be directly obtained from the "who" column, so we'll remove it and work on this reduced DataFrame for the rest of the exercise.

In [ ]:
keep_cols = ["survived", "pclass", "sex", "age", "sibsp", "parch", "fare", "embark_town", "deck", "who", "alone"]
titanic = titanic[keep_cols].copy()
titanic.columns

Let's now clarify what these columns mean:
- **survived**: Survival of the passenger (0 = No, 1 = Yes)
- **pclass**: Ticket class (1= 1st, 2 = 2nd, 3 = 3rd)
- **sex**: Sex
- **age**: Age
- **sibsp**: # of siblings / spouses aboard the Titanic
- **parch**: # of parents / children aboard the Titanic
- **fare**: Passenger fare
- **embark_town**: Port of embarkation (Southampton, Cherbourg, Queenstown)
- **deck**: Ship deck (A to F)
- **who**: man, woman or child
- **alone**: Whether the passenger is alone or not

## 4. Plotting

Let's now see how we can generate informative plots from DataFrames.

Plots are a great way to get some insight on the data you're working with, as it can help you uncover relations between different features and visualize distributions.

In [ ]:
# Import plotting packages
import matplotlib.pyplot as plt
import seaborn as sns

### Plotting with pandas

Pandas offer plotting functionality with the `.plot` functions, which wrap-around matplotlib.pyplot's `plot()`. 

More info about plotting with pandas can be found at: https://pandas.pydata.org/pandas-docs/stable/user_guide/visualization.html

Here are two simple examples:

In [ ]:
titanic.plot.scatter(x="age", y="fare", alpha=0.5)

In [ ]:
titanic["age"].hist(bins=20, alpha=0.5)
plt.xlabel("age")
plt.ylabel("count")

### Plotting with seaborn

Seaborn is a data visualization library based on matplotlib, which works very nicely with pandas DataFrames, allowing you to very quickly generate complex, informative (and aesthetically pleasing) plots. In this section, we'll show some of the plots that can be generated with seaborn.

For a more in-depth seaborn tutorial, check out the official tutorial: https://seaborn.pydata.org/tutorial.html

Let's improve on the two previous plots by adding the "sex" column as hue.

In [ ]:
sns.scatterplot(data=titanic, x="age", y="fare", hue="sex", alpha=0.5)

#### Distributions

Visualizing distributions is a good way to find heavy tails and other key information about a feature's distribution, which can help you decide whether or not to truncate / scale features.

In [ ]:
# Visualize distribution with a histogram
# KDE = Kernel Density Estimation
sns.histplot(data=titanic, x="age", hue="sex", kde=True)

Empirical Cumulative Distribution Function (ECDF) plots are another great way to visualize distributions.

In [ ]:
sns.ecdfplot(data=titanic, x="age")

#### Categorical data

Now, let's use a variety of plots offered by seaborn (such as count plots, box plots and violin plots) to gain a better insight on some of the features.

In [ ]:
sns.countplot(data=titanic, x="pclass", hue="who")

In [ ]:
sns.boxplot(data=titanic, x="pclass", y="age")

In [ ]:
sns.violinplot(data=titanic, x="pclass", y="age")

Seaborn also computes confidence intervals using [bootstrapping](https://en.wikipedia.org/wiki/Bootstrapping_(statistics))

In [ ]:
sns.pointplot(data=titanic, y="survived", x="pclass", hue="sex")

The previous plot reveals two key features for predicting which passengers survived the shipwreck.

#### Multi-plot grids

More advanced (and harder to plot), but can offer very insightful visualizations.

In [ ]:
grid = sns.PairGrid(data=titanic, y_vars="survived", x_vars=["pclass", "who", "alone"])
grid.map(sns.pointplot)

That's all for seaborn!  For more examples of plots that can be generated with this library, check out the [seaborn example gallery](https://seaborn.pydata.org/examples/index.html).

## 5. Data cleaning / wrangling

Let's now cover how to use pandas to clean / transform our data into a proper dataset for machine learning tasks.

In [ ]:
# Quick preview of the dataset (with columns removed from part 3)
titanic

### Binning

Binning features is very easy with `cut` and `qcut`.

- `pd.cut` bins values into discrete intervals. These bins are equal-width bins (uniform binning) when providing an `int` for  the `bins` parameters, but these bins can be whichever values you want by providing a sequence of scalars instead.
- `pd.qcut` bins values using quantiles (quantile binning) instead.

In [ ]:
titanic["age_group"] = pd.cut(x=titanic["age"], bins=5)
titanic["age_group"]

In [ ]:
titanic["fare_group"] = pd.qcut(x=titanic["fare"], q=5)
titanic["fare_group"]

### Missing values

In [ ]:
# Let's make a copy of the dataframe called `titanic_ml` to prevent destructive changes
titanic_ml = titanic.copy()

In [ ]:
# Find which columns have missing values
titanic_ml.isna().any()

In [ ]:
# Alternative approach: check non-null count, which also informs us of how many values are NaN
titanic_ml.info()

#### Imputation
Imputation can be done using `fillna`.

In [ ]:
# Mean imputation for age (just as an example, there are many other approaches that are valid)
titanic_ml["age"] = titanic_ml["age"].fillna(titanic["age"].mean())

#### Deletion

`dropna()` can be used for deletion.
- The `subset` parameter can be used to only drop missing values from a few columns / columns.
- `axis=0` drops rows, `axis=1` drops columns.

In [ ]:
# Only 2 rows don't have NaN for embark_town, let's drop it
titanic_ml = titanic_ml.dropna(subset=["embark_town"], axis=0)

In [ ]:
# Drop all the columns containing NaN
titanic_ml = titanic_ml.dropna(axis=1)

In [ ]:
# How does our data look like now?
titanic_ml.info()

### One-hot encoding

For most ML algorithms, we want our data to be entirely numerical, this requires encoding categorical features.

One-hot encoding can be performed using `pd.get_dummies()`.

In [ ]:
titanic_ml = pd.get_dummies(titanic_ml)

In [ ]:
titanic_ml

In [ ]:
titanic_ml.info()

### To NumPy

All our columns are now numeric, we can further convert them all to the same data type (if needed) using `astype()` and then to NumPy using `to_numpy()`.

In [ ]:
X = titanic_ml.drop(columns="survived").astype(float).to_numpy()
y = titanic_ml["survived"].to_numpy()

In [ ]:
X[0:3]

In [ ]:
X.shape

In [ ]:
y[0:3]

In [ ]:
y.shape

And there we go! We covered the basics of pandas, as well as all the steps needed to go from a raw dataset to one usable by ML algorithms.

This processed dataset can now be used for classification with whichever package you desire (e.g. NumPy, as was done in previous weeks, or PyTorch and scikit-learn as we'll see later on).

Pandas is a very flexible package with many use cases, feel free to check out the additional resources to learn more about it.

## Additional pandas resources

- Pandas Cheatsheet: https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf **<- VERY USEFUL**
- Pandas User Guide: https://pandas.pydata.org/pandas-docs/stable/user_guide/index.html
- API Reference: https://pandas.pydata.org/pandas-docs/stable/reference/index.html#api
- Chapter 3 of the Python Data Science Handbook: https://jakevdp.github.io/PythonDataScienceHandbook/03.00-introduction-to-pandas.html
- Kaggle Pandas course: https://www.kaggle.com/learn/pandas